! Set by some scripts to have useful DPI per screen
! Xft.dpi: 120

! Font
UXTerm*faceName: Hack Nerd Font Mono
XTerm*faceName: Hack Nerd Font Mono
UXTerm*faceSize: 9
XTerm*faceSize: 9

! Colors
UXTerm*background: black
UXTerm*foreground: white
XTerm*background: black
XTerm*foreground: white
UXTerm*cursorColor: white

